.product {
    border: 1px solid darkgrey;
    margin-top: 10px;
    padding: 10px;
  
  
    .title {
      font-size: 20px;
      float: left;
    }
  
    .price {
      font-size: 25px;
      float: right;
    }
  
    .description {
      margin-top: 20px;
      font-size: 14px;
      float: left;
    }
  
    .button {
      margin-top: 20px;
      float: right;
    }
  }