<p-card header="{{ product.title }}" subheader="{{ product.price }} Euro"
    [style]="{width: '300px', 'float': 'left', 'margin': '10px'}" styleClass="shadow-2"
    *ngFor="let product of products; trackBy: track" class="product">
    <p appHighlight="bold">{{ product.description }}</p>
    <ng-template pTemplate="footer">
        <button pButton class="button p-button-sm p-button-rounded" (click)="onButton(product)" id="{{product.id}}">{{
            buttonName }}</button>
    </ng-template>
</p-card>