<div class="products">
  Produkte
  <div *ngFor="let product of products" class="product">
    <div class="title">{{ product.title }}</div>
    <div class="price">{{ product.price }} Euro</div>
    <div style="clear: both;"></div>
    <div class="description">{{ product.description }}</div>
    <button class="button">In den Warenkorb</button>
    <div style="clear: both;"></div>
  </div>
</div>

<div class="cart">
  Warenkorb ({{ cart.length }} Artikel)
  <div class="alert">Neuer Artikel hinzugefügt</div>
  <div *ngFor="let items of cart" class="product">
    <div class="title">{{ items.title }}</div>
    <div class="price">{{ items.price }} Euro</div>
    <div style="clear: both;"></div>
    <div class="description">Anzahl: 1</div>
    <button class="button">Entfernen</button>
    <div style="clear: both;"></div>
  </div>
</div>
