.menu {
  margin-top: 20px;
  width: 100%;
}

.products, .cart {
  border: 1px solid black;
  width: 500px;
  margin: 20px 20px 0 0;
  padding: 20px;
  float: left;
}

.alert {
  border: 1px solid green;
  margin-top: 10px;
  padding: 15px;
  text-align: center;
  background-color: #b6f8b6;
}

.product {
  border: 1px solid darkgrey;
  margin-top: 10px;
  padding: 10px;


  .title {
    font-size: 20px;
    float: left;
  }

  .price {
    font-size: 25px;
    float: right;
  }

  .description {
    margin-top: 20px;
    font-size: 14px;
    float: left;
  }

  .button {
    margin-top: 20px;
    float: right;
  }
}
